streamlit
pandas
numpy
plotly
matplotlib
seaborn
streamlit-option-menu
openai>=1.0.0
python-dotenv

langchain-core
langchain-community
langchain-openai
langchain-experimental
langchain-text-splitters

faiss-cpu

pillow

typing-extensions
tqdm


seaborn
nest-asyncio
